/* -------------------------------------------------------------------------- */
/*                           Moto Club Bahía Blanca                           */
/* -------------------------------------------------------------------------- */
/* ---------------------------------- Base ---------------------------------- */
@import 'base/variables';
@import 'base/extends';
@import 'base/mixins';
@import 'base/mapas';
/* -------------------------------- Fuentes --------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Lora:ital@1&family=Playfair+Display:ital@1&display=swap');
/* --------------------------------- General -------------------------------- */
@import 'components/general';
@import 'components/header';
@import 'components/footer';
/* --------------------------------- Inicio --------------------------------- */
@import 'components/section-one';
@import 'components/section-two';
/* --------------------------------- Equipo --------------------------------- */
@import 'components/equipo';
/* ---------------------------------- Viaje --------------------------------- */
@import 'components/viaje';
/* --------------------------------- Galería -------------------------------- */
@import 'components/galeria';
/* ------------------------------- Información ------------------------------ */
@import 'components/informacion';
/* -------------------------------- Contacto -------------------------------- */
@import 'components/contacto';
/* --------------------------------- Mobile --------------------------------- */
@import 'components/mobile';