.container-contacto {
    @extend %grid;
    grid-template-areas:
        "header"
        "section-contacto"
        "footer";


    #contacto {
        grid-area: section-contacto;
        grid-row: 2;
        grid-column: 1;
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0% 5% 5% 5%;

        .picture {
            width: 90%;
            height: 500px;
            margin: auto;
            display: block;
            border-radius: 25px;
            margin-top: 3%;
            border: 3px solid white;
        }

        H4 {
            font-size: 1.7em;
            color: cyan;
            text-shadow: blue 3px 1px;
            text-align: center;
            padding-top: 3%;
            padding-bottom: 3%;
        }

        nav {
            display: flex;
            flex-direction: column;

            div {
                width: 100%;
                display: flex;
                justify-content: space-around;
                padding-left: 15%;
                padding-right: 15%;

                .icon {
                    width: 150%;

                    &:hover {
                        transform: scale(1.3, 1.3);
                        transition: all .5s;
                        cursor: pointer;
                    }
                }
            }

            form {
                display: flex;
                flex-direction: column;
                width: 100%;
                padding: 0% 20%;

                input {
                    padding: 1%;
                    margin: 0.5em;
                    border: solid black 3px;
                    background-color: rgb(131, 217, 252);
                    text-align: center;
                }               

                .consulta {
                    height: 5rem;
                }
            }
        }
    }
}