.container-team {
    @extend %grid;
    grid-template-areas:
        "header"
        "section-viaje"
        "footer";
    grid-template-rows: auto;


    #equipo {
        grid-area: section-viaje;
        grid-row: 2;
        grid-column: 1;
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0% 5% 5% 5%;
        align-items: center;
    
        .card {
            @include border(5%);
            background-color: black;
            padding: 1%;
            margin-bottom: 2%;
            width: 50%;
    
            .card-img-top {
                border-radius: 4%;
            }
    
            .f3 {
                @extend %flexbox;
                font-size: 1.7em;
                color: $letter-color;
                text-shadow: $shadow;
            }
        }
        
        .card:hover {
            cursor: pointer;
            transform: translateY(-10px);
            transition: all 1s;
        }      
    }
}