.container-info {
    @extend %grid;
    grid-template-areas: auto auto auto;
    grid-template-rows: auto auto auto;

    section {
        margin: 2% 0%;
        display: grid;
        grid-gap: 2em;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;
        width: 100%;

        
        .artic-a {
            border-radius: 5%;
            border: 3px solid white;
            background-color: black;
            margin-left: 2em;
            padding: 5%;
        }

        .artic-a ul,
        .artic-d ul,
        .artic-f ul {
            color: cyan
        }

        .artic-b {
            border-radius: 5%;
            border: 3px solid white;
            background-color: black;
            padding: 5%;
        }

        .artic-c {
            border-radius: 5%;
            border: 3px solid white;
            background-color: black;
            margin-right: 2em;
            padding: 5%;
        }

        .artic-d {
            border-radius: 5%;
            border: 3px solid white;
            background-color: black;
            margin-left: 2em;
            padding: 5%;
        }

        .artic-e {
            border-radius: 5%;
            border: 3px solid white;
            background-color: black;
            padding: 5%;
        }

        .artic-f {
            border-radius: 5%;
            border: 3px solid white;
            background-color: black;
            margin-right: 2em;
            padding: 5%;
        }

        .artic-a:hover,
        .artic-b:hover,
        .artic-c:hover,
        .artic-d:hover,
        .artic-e:hover,
        .artic-f:hover {
            transform: translateY(-10px);
            transition: all .5s;
            cursor: pointer;
        }

        .info {
            width: 100%;
            display: flex;
            margin-bottom: 1em;
            font-size: 1.2em;
            color: cyan;
            text-shadow: blue 3px 2px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            letter-spacing: 3px;
            text-align: center;
            align-items: center;
            justify-content: center;
        }

        .p-list {
            font-family: 'Playfair Display', serif;
            color: cyan;
            text-shadow: blue 3px 2px;
            font-size: 1.3em;
            text-align: center;
        }

        .p-list2 {
            font-family: 'Playfair Display', serif;
            color: cyan;
            text-shadow: blue 3px 2px;
            font-size: 1.3em;
        }
    }
}