.container-index {
    @extend %grid;
    grid-template-areas:
        "header"
        "section-one"
        "section-two"
        "footer";
    grid-template-rows: auto auto auto auto;


    .one {
        grid-area: section-one;
        grid-row: 2;
        grid-column: 1;

        .gif {
            width: 100%;
            height: 35rem;
            margin: auto;
            display: block;
        }
    }
}