.container-viaje {
    @extend %grid;
    grid-template-areas:
        "header"
        "section-viaje"
        "footer";
    grid-template-rows: auto auto auto;


    #VIAJE {
        grid-area: section-viaje;
        grid-row: 2;
        grid-column: 1;
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0% 5% 5% 5%;

        .div-travel {
            display: flex;
            justify-content: center;

            .nav-travel {
                display: flex;
                align-items: center;
                justify-content: space-around;
                text-align: center;
                width: 100%;
                height: 5rem;
                background-color: black;
                border: solid white 3px;

                a {
                    text-decoration: none;
                    font-size: 1.4em;
                    font-family: fantasy;
                    color: cyan;
                    text-shadow: 2px 1px blue;
                }
            }
        }

        .travel {
            text-align: center;
            font-size: 1.7em;
            color: cyan;
            text-shadow: blue 3px 2px;
            padding: 3%;
        }

        .p-travel {
            text-align: center;
        }

    }


}